

<!--
<div class="navbar">
  <a href="#" class="nav-item">Menu</a>
  <a href="#" class="nav-item">Locations</a>
  <a href="#" class="nav-item logo">
      <img src="https://cdn.discordapp.com/attachments/1062156955151507456/1150196844878626826/GameDAy_3.png" alt="Your Logo" />
  </a>
   <a href="#" class="nav-item">About</a>
  <a href="#" class="nav-item">Contact</a>
</div>
-->




<div class="content-wrapper" [ngClass]="{ 'shifted': menuIsOpen }">

  <nav class="navbar">
    <a href="#" class="nav-item">
      <img class = "logo "src="https://cdn.discordapp.com/attachments/1062156955151507456/1150196844878626826/GameDAy_3.png" alt="Your Logo" />
    </a>
        <!-- Add your clickable image here -->
    <div class = "nav-item">
      <img  class = "toggle" (click)="toggleMenu()" [src]="menuIsOpen ? 'https://i.ibb.co/rt3HybH/close.png' : 'https://i.ibb.co/HrfVRcx/menu.png'" alt="Menu Icon">
    </div>
  </nav>

  <div class="reserve-landing-container">

   
  
    <p>Reserve A Table</p>
  </div>
  
  <div class="componentswrapper">
    <div id = "sectionone">
        <app-table-reserver-list></app-table-reserver-list>
    </div>
  
    <div id = "sectiontwo">
        <app-tablereservepopover></app-tablereservepopover>
    </div>
  </div>
</div>



<div class="sidebar-menu" [ngClass]="{ 'open': menuIsOpen }">
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Contact</a>
</div>

<router-outlet></router-outlet>
